{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% crispy ActionCreationForm ActionCreationForm.helper %}

{% block content %}
    <h1 class="display-4">Create Action</h1>
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            {% crispy form %}
            <p>{{ previous_url }}</p>
        </div>
    </div>
    {% if form.instance.id != None %}
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <h3>Delete action</h3>
            <a class="btn btn-danger" href="{{ form.instance.get_absolute_url }}delete">Delete</a>
        </div>
    </div>  
    {% endif %}

{% endblock %}