{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Due Date</th>
      <th scope="col">Action Name</th>
      <th scope="col">Project Name</th>
      <th scope="col">Completed</th>
      <th scope="col">Butttons</th>
    </tr>
  </thead>
  <tbody>
    {% for action in actions %}
        <tr>
        <td>{{action.duedate}}</td>
        <td>{{action.title}}</td>
        <td>{{action.task}}</td>
        <td>{{action.completed}}</td>
        <td><a href='{{ action.get_absolute_url }}'>Edit</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}