{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% crispy TopicCreationForm TopicCreationForm.helper %}

{% block content %}
    <h1 class="display-4">Create Topic</h1>
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            {% crispy form %}
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <h3>Delete topic</h3>
            <a class="btn btn-danger" href="{{ topic.get_absolute_url }}delete">Delete</a>
        </div>
    </div>  

{% endblock %}