{% extends 'base.html' %}

{% block content %}

<h1>{{topic.title}} </h1>
<dl class="row">
    <dt class="col-sm-3">Title</dt>
    <dd class="col-sm-9">{{topic.title}}</dd>
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">{{topic.detail}}</dd>
    <dt class="col-sm-3">Completed</dt>
    <dd class="col-sm-9">{{topic.completed}}</dd>
    <dt class="col-sm-3">Created at</dt>
    <dd class="col-sm-9">{{topic.created_at}}</dd>
    <dt class="col-sm-3">Updated at</dt>
    <dd class="col-sm-9">{{topic.updated_at}}</dd>
</dl>

<a class="btn btn-success" href="{% url 'projects:project_create_view_with_topic' topicid=topic.id%}">New project</a>
<a class="btn btn-primary" href="{{ topic.get_absolute_url }}update">Edit</a>
<a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">Back</a>

<h3>Open projects</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Due Date</th>
      <th scope="col">Butttons</th>
    </tr>
  </thead>
  <tbody>
    {% for open_project in open_projects%}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{open_project.title}}</td>
        <td>{{open_project.duedate}}</td>
        <td><a class="btn btn-primary btn-sm" href='{{ open_project.get_absolute_url }}'>Edit</a> <a class="btn btn-success btn-sm" href="{% url 'tasks:task_create_view_with_project' projectid=open_project.id%}">New task</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Completed projects</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Due Date</th>
      <th scope="col">Butttons</th>
    </tr>
  </thead>
  <tbody>
    {% for completed_project in completed_projects%}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{completed_project.title}}</td>
        <td>{{completed_project.duedate}}</td>
        <td><a class="btn btn-primary btn-sm" href='{{ completed_project.get_absolute_url }}'>Edit</a> <a class="btn btn-success btn-sm" href="{% url 'tasks:task_create_view_with_project' projectid=completed_project.id%}">New task</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}