{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Topic Name</th>
      <th scope="col">Completed</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated on</th>
      <th scope="col">Butttons</th>
    </tr>
  </thead>
  <tbody>
    {% for topic in topics %}
        <tr>
        <td>{{topic.title}}</td>
        <td>{{topic.completed}}</td>
        <td>{{topic.created_at}}</td>
        <td>{{topic.updated_at}}</td>
        <td><a href='{{ topic.get_absolute_url }}'>Edit</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}