{% extends 'base.html' %}

{% block content %}
<h1>Hello {{user}} </h1>
<h3>List of projects</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Closed</th>
      <th scope="col">Due Date</th>
      <th scope="col">Butttons</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects%}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{project.title}}</td>
        <td>{{project.closed}}</td>
        <td>{{project.duedate}}</td>
        <td><a href='{{ project.get_absolute_url }}'>Edit</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}