{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Topics</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <select class="float-right form-control" id="dashboardTopicSelect" name="dashboardTopicSelect">
        <option value="all">--All--</option>
        {% for topic in topics %}
        <option value="{{topic.topic.title}}">{{topic.topic.title}}</option>
        {% endfor %}
      </select>
      <form class="form-inline" id="dashboardOnPageSearchForm">
        <label for="email" class="mr-sm-2">On page search:</label>
        <input type="text" class="form-control mr-sm-2" placeholder="Search term" id="dashboardOnPageSearchTerm">
        <input type="submit" class="btn btn-primary" value="Search">
      </form>
    </div>
  </div>
{% for topic in topics %}
    <div class="row topic_row">
      <div class="container">
        <h2>{{topic.topic.title}}</h2>
        <p class="lead">Next project due: {{ topic.top_due_date }}   <a class="btn btn-sm btn-outline-primary dashboard-new-project-button" href="/projects/create/{{topic.topic.id}}">New Project</a></p>
          <div class="row dashboard_row">
            {% for project in topic.projects%}
            <div class="col-md-4 col-xl-3 dashboard-project-card-column">
                <div class="card dashboardcard mx-auto">
                  <div class="card-body">
                      <h5 class="card-title">{{project.title}}</h5>
                      <p>Due: {{project.duedate}}</p>
                      <a class="btn btn-sm btn-primary" href="{{ project.get_absolute_url }}">Details</a>
                      <a class="btn btn-sm btn-outline-success" href="{% url 'tasks:task_create_view_with_project' projectid=project.id%}">New task</a>
                      <hr />
                      <div class="dashboard_card_tasks_block">
                        {% for task in project.tasks%}
                          <div class="dashboard_card_tasks_card container">
                            <div class=row>
                              <div class="col-12 dashboard_card_task_title">
                                <p class="dashboard_card_task_title_text">{{task.title}}</p>
                              </div>
                            </div>
                            <div class=row>
                              <div class="col-12 col-md-7">
                                <p class="dashboard_card_task_small_text">{{task.duedate}}</p>
                              </div>
                              <div class="col-12 col-md-5">
                                <a class="btn btn-outline-primary dashboard_card_task_small_text btn-sm float-right" href='{{ task.get_absolute_url }}'>Details</a>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
    </div>
{% endfor %}
</div>
<script src="{% static '/js/dashboard.js' %}"></script>
{% endblock %}