{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
      <th scope="col">Project Name</th>
      <th scope="col">Completed</th>
      <th scope="col">Butttons</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{task.title}}</td>
        <td>{{task.project}}</td>
        <td>{{task.completed}}</td>
        <td><a href='{{ task.get_absolute_url }}'>Details</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}