{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
      <th scope="col">Project Name</th>
      <th scope="col">Completed</th>
      <th scope="col">Butttons</th>
    </tr>
  </thead>
  <tbody>
    {% for instance in object_list %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{instance.title}}</td>
        <td>{{instance.project}}</td>
        <td>{{instance.completed}}</td>
        <td><a href='{{ instance.get_absolute_url }}'>Edit</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}