body {
    background-color: #eeeeee;
}

@media (min-width: 1250px){
    .container {
        max-width: 1720px;
    }
}


.dashboard_row {
    margin-bottom: 5rem;
  }

.dashboardcard {
    width: 14rem;
    margin-bottom: 1rem;
}

.dashboard_card_tasks-block{
    display: flex;
    flex-wrap: wrap;
}

.dashboard_card_tasks-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.dashboard_card_tasks-card p{
    display: inline;
}

.dashboard_card_task_title{
    width: 100%;
    margin-top: 10px;
}

.dashboard_card_task_duedate{
    width: 66.6666%
}

.dashboard_card_task_button{
    width: 33.3333%
}


@media (min-width: 992px){
    .dashboardcard {
        width: 18rem;
    }
}

#dashboardTopicSelect{
    max-width: 300px;
}

.dashboard_hidden_card,
.dashboard_hidden_row{
    display: none;
}

.dashboard-new-project-button{
    font-size: 0.8rem;
}

.dashboard_highlighted_card {
    background-color: #fcfad2 !important; 
}

.project_action_table{
    width: 100%;
    background-color: #eeeeee;
}

.project_action_table th {
    background-color: #eeeeee;
}

.project_action_table td {
    background-color: #eeeeee;
}

.project_page_task_card{
    padding: 0;
}

.project_page_task_card_header{
    height: 75px;
}

.project_page_button{
    margin-left: 5px;
    margin-right: 5px;
}

.project_page_header{
    margin-top: 10px;
}

.project_page_no_tasks{
    margin-top: 40px;
    margin-bottom: 40px;
}

.note-card{
    width: 25rem;
    margin: auto;
}


.todo_page_actions_list{
    list-style: none;
    padding-inline-start: 0;
}

.todo_page_item {
    width: 100%;
    border: 2px solid black;
    margin: 2px;
    padding: 3px;
    background-color: white;
}

.todo_page_item_row{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.todo_page_item_project_title_text{
    color: black;
    text-decoration: none;
}

.todo_page_item_task_title_text{
    color: black;
    text-decoration: none;
}
